<header class="navbar">

  <!-- Logo / Return to Home -->
  <section class="navbar-logo">
    <img src="assets/schedule.svg" [routerLink]="['/']">
  </section>

  <!-- Search Bar for Results page -->
  <section class="navbar-section navbar-search" *ngIf="searchBar()">

    <form [formGroup]="form" class="col-12">
      <div class="input-group">
      
        <input class="form-input" 
          type="text" 
          placeholder="Try 'Wynwood'" 
          formControlName="city" 
          [(ngModel)]="city">
      
        <button class="btn btn-primary input-group-btn" 
          type="button" 
          [routerLink]="['results']" 
          [queryParams]="{city: city}">
          Search
        </button>
      </div>
    </form>
  </section>
</header>