@import "../../../styles";

// --- Category Titles ---
h4 {
  @extend %results-header;
}

// --- Timeline ---
.timeline {
  margin-top: 20px;
}

.tile-centered {
  letter-spacing: .5px;
  font-weight: 300;
  margin: 20px 0;
  width: 91vw;
}
