@import "../../../styles";

// --- Suggested Cities ---
h4 {
  font-weight: 700;
  letter-spacing: .5px;
  margin: 0 20px;
}

article {
  @extend %side-swipe;
  height: 180px;

  div {
    @extend %image-text;
    height: 150px;
    min-width: 225px;

    span {
      font-size: 25px;
      font-weight: 300;
    }
  }
}
