<section class="landing-search">

    <!-- Name and Greeting -->
    <h3>Sesh</h3>
    <h5>Plan your next event by seeing what's going on around you or in a new area.</h5>
    

    <!-- City Search Bar -->
    <form [formGroup]="form" class="col-12">
      <div class="input-group">
    
        <input class="form-input" 
          type="text" 
          placeholder="Try 'West Palm Beach'" 
          formControlName="city" 
          [(ngModel)]="city">
    
        <button class="btn btn-primary input-group-btn" 
          type="button"
          [routerLink]="['results']" 
          [queryParams]="{city: city}">
          Search
        </button>
      </div>
    </form>      
</section>


<!-- Suggested Cities -->
<app-cities></app-cities>