<section class="landing-search">

    <!-- Name and Greeting -->
    <h3>Sesh</h3>
    <h5>Plan your next event by seeing what's going on around you or in a new area.</h5>
    

    <!-- City Search Bar -->
    <form [formGroup]="form" class="col-12">
      <div class="input-group">
    
        <input class="form-input" 
          type="text" 
          placeholder="Try 'West Palm Beach'" 
          formControlName="city" 
          [(ngModel)]="city">
    
        <button class="btn btn-primary input-group-btn" 
          type="button"
          [routerLink]="['results']" 
          [queryParams]="{city: city}">
          Search
        </button>
      </div>
    </form>      
</section>


<!-- Suggested Cities -->
<section class="landing-suggested">

  <!-- Category -->
  <h4>Suggested</h4>

  <!-- List of Cities -->
  <article>
    <div [routerLink]="['results']" [queryParams]="{city: 'wynwood'}">
      <img src="assets/city/wynwood.jpg" alt="wynwood">
      <span>Wynwood</span>
    </div>
    <div [routerLink]="['results']" [queryParams]="{city: 'austin'}">
      <img src="assets/city/austin.jpg" alt="austin">
      <span>Austin</span>
    </div>
    <div [routerLink]="['results']" [queryParams]="{city: 'west palm beach'}">
      <img src="assets/city/west_palm.jpg" alt="west palm">
      <span>West Palm</span>
    </div>
    <div [routerLink]="['results']" [queryParams]="{city: 'portland'}">
      <img src="assets/city/portland.jpg" alt="portland">
      <span>Portland</span>
    </div>
    <div [routerLink]="['results']" [queryParams]="{city: 'san jose'}">
      <img src="assets/city/san_jose.jpg" alt="san jose">
      <span>San Jose</span>
    </div>
  </article>
</section>