@import "../../../styles";

// --- Search Box ---
.landing-search {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  margin: 0 20px;

  h3 {
    color: $primary;
    font-weight: 700;
    letter-spacing: .5px;
  }

  h5 {
    font-weight: 200;
    letter-spacing: .5px;
  }
}

form {
  margin-top: 25px;

  .form-input {
    @extend %search-box;
  }
}
