@import "../../../styles";

// --- Search Box ---
.landing-search {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  margin: 0 20px;

  h3 {
    color: $primary;
    font-weight: 700;
    letter-spacing: .5px;
  }

  h5 {
    font-weight: 200;
    letter-spacing: .5px;
  }
}

form {
  margin-top: 25px;

  .form-input {
    @extend %search-box;
  }
}

// --- Suggested Cities ---
.landing-suggested h4 {
  font-weight: 700;
  letter-spacing: .5px;
  margin: 0 20px;
}

.landing-suggested article {
  @extend %side-swipe;
  height: 180px;

  div {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
    min-width: 225px;
    position: relative;

    img {
      filter: brightness(75%);
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    span {
      color: #fff;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: .5px;
      position: absolute;
      text-shadow: 0 1px 0 black;
    }
  }
}
