@import "../../../styles";

// --- Category Titles ---
h4 {
  font-weight: 700;
  letter-spacing: .5px;
  margin: 20px 20px 0 20px;
}

// --- Venues ---
.results-venues article {
  @extend %side-swipe;
  height: 130px;

  div {
    height: 100px;
    min-width: 150px;
  }
}

// --- Timeline ---
.timeline {
  margin-top: 20px;

  h6 {
    margin-top: 25px;
  }
}

.tile-centered {
  letter-spacing: .5px;
  font-weight: 300;
  margin: 20px 0;
  width: 91vw;
}

.available-venues {
  @extend %side-swipe;
  height: 130px;
  width: 91vw;

  & div:nth-of-type(1) {
    margin-left: 0;
  }

  div {
    height: 100px;
    min-width: 150px;
  }
}